*.pyc
__pycache__/
__pycache__\\
__pycache__\
config.py
testing.py
testing2.py
testing3.py
apiReturn.json
test.json
final.py
Draft_andor_backupd/Final.ipynb
Draft_andor_backupd/f2.ipynb
DATA/MHI_rich.zip
DATA/MHI_phx.zip
DATA/MHI_hou.zip
DATA/MHI_balt.zip
